<h1 style="color:beige"> Data Science </h1>

This notebook will summarize Data Science Tools and Ecosystem.

Some of the primary languages used by Data Scientists include: <ol style="color:maroon"><li>Python</li> <li>JavaScript</li><li>SQL</li></ol>

Some of the commonly used libraries by Data Scientists are:
<ol style="color:cyan
           "><li>Pandas</li><li>NumPy</li><li>TensorFlow</li></ol>

<table style="border: 1px solid black; text-align:center">
    <tr><th>
        Data Science Tools
        </th></tr>
    <tr><td>Pandas</td></tr>
    <tr><td>Scrapy</td></tr>
    <tr><td>Weka</td></tr>
    <tr><td>Hadoop</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This is a simple arithmetic expression to multiply, then add integers. 
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours, by diving by a factor of 60.
200/60

3.3333333333333335

<strong>Objectives:</strong><ul><li>List popular languages used in Data Science</li><li>List popular libraries used in Data Science</li><li>List the primary tools used in Data Science</li></ul>

<h2>Author</h2> Shayan S